.todoList{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}
.addTod{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 12px;
}
.addTod input{
    padding: 14px 8px;
    background-color: rgb(234, 234, 234);
    display: inline-block;
    width: 100%;
}
::placeholder{
    font-size: 14px;
    color: black;
}
.btn{
    display: inline-block;
    background-color: rgb(9, 169, 9);
    padding: 12px 25px;
    font-size: 15px;
    color: white;
    cursor: pointer;
}
.btn:hover{
    background-color: rgb(20, 91, 20);
}
.btn1{
    background-color: rgb(215, 13, 13);
}
.btn1:hover{
    background-color: rgb(159, 15, 15);
}
.todo{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.todo span{
    font-size: 15px;
    color: rgb(134, 134, 134);
    margin: 0 10px;
}
.completed{
    text-decoration: line-through;
}